<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <div id="app">
    <p>{{ message }}</p>
    <p v-once>{{ message }}</p>
    <p>{{ sayHi() }}</p>
    <div>{{ html }}</div>
    <div v-html="html"></div>
    <a v-bind:href="url">Google</a>
    <a :[attribute]="url">Google</a>
    <a v-bind="twitterObject">Twitter</a>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="js/main.js"></script>
</body>
</html>